header {
  font-family: "Koulen", serif;
  text-align: end;
}

h1 {
  font-family: "Inter", serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 93px;
  padding: 100px 70px 80px 0;
}

.hero {
  background: #ffc16f;
  padding: 30px 30px 60px 0;
}

.profile-photo {
  border: 20px dotted rgb(251, 105, 32);
  width: 180px;
}

.explore-work a {
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 20px;
  padding-left: 15px;
  text-decoration: none;
  color: black;
}

.fa-solid fa-arrow-down {
  font-size: 20px;
}
