:root {
  --primary-color: #fb6920;
  --secondary-color: #ffc16f;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

header {
  font-family: "Koulen", serif;
  text-align: end;
}

h1 {
  font-family: "Inter", serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 90px;
  line-height: 93px;
  padding: 100px 70px 80px 0;
}

h2 {
  font-family: "Koulen", serif;
  font-weight: regular;
  font-size: 120px;
  color: var(--primary-color);
  line-height: 0.7;
  margin: 0;
}

h3 {
  font-family: "Inter", serif;
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 10px;
}

.hero {
  background: var(--secondary-color);
  padding: 30px;
}

.profile-photo {
  border: 20px dotted var(--primary-color);
  width: 180px;
}

.shihui-yang {
  color: var(--primary-color);
}

.explore-work {
  display: flex;
  text-decoration: none;
  color: black;
}

.explore-work p {
  display: flex;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 20px;
  padding-left: 20px;
}

.project-section {
  background: white;
  margin-top: 60px;
  padding: 50px;
}

.weather-app,
.world-clock-app {
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.ai-poem-image {
  border: 5px solid var(--secondary-color);
  border-radius: 10px;
  width: 100%;
  box-shadow: var(--box-shadow);
}

.project-description {
  font-family: "Inter", serif;
  padding-top: 80px;
}

.project-button {
  font-family: "Inter", serif;
  background-color: var(--primary-color);
  color: white;
  margin-top: 50px;
}

.project-button:hover {
  background-color: var(--secondary-color);
  color: white;
}

.individual-project {
  margin-top: 80px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 80px;
    line-height: 85px;
    padding-top: 80px;
  }
  .project-images {
    display: none;
  }
  .project-description {
    padding-top: 30px;
    text-align: center;
  }
  .project-button {
    width: 100%;
    margin-top: 25px;
  }
}
